@tailwind base;
@tailwind components;
@tailwind utilities;

.paginator > nav::nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

body
    > div
    > div.mt-6.flex.justify-center.text-gray-900.paginator
    > nav
    > div.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 640px) {
    .sm\:flex {
    }
}
